<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row" id="filter-section">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div id="add_filter" class="multiple">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div id="filter-boxes"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <button type="button" id="btn-filter" class="btn btn-info"><i class="fa fa-filter"></i>
          Apply filters</button>
          <!-- TODO -->
        <!-- <button type="button" id="btn-clear" class="btn btn-danger"><i class="fa fa-eraser"></i>
          Clear filters</button> -->
      </div>
    </div>
  </div>
</div>