<div class="modal fade" id="modalScheduler" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-plus fa-1x"> </i> <i class="fa fa-desktop"> </i> Add new scheduled job
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form id="modalAddScheduler" class="form-horizontal form-label-left">
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="kind">Type: <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="kind" name="kind" class="form-control" required>
                                        <option value="">Choose..</option>
                                        <option value="cron">Daily cron</option>
                                        <option value="interval">Repeat interval</option>
                                        <option value="date">Once at a date</option>
                                </select>
                                </div>
                            </div>
                            <div id="div_interval_cron" hidden>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="hour">Hour
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="hour" name="hour" class="form-control" required>
                                        <option value="00">00</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="minute">Minute
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="minute" name="minute" class="form-control" required>
                                        <option value="00">00</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="05">05</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="25">25</option>
                                        <option value="30">30</option>
                                        <option value="35">35</option>
                                        <option value="40">40</option>
                                        <option value="45">45</option>
                                        <option value="50">50</option>
                                        <option value="55">55</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="div_date" hidden>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="date">Date
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" class="form-control has-feedback-left" id="datePicker" />
                                        <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="action">Action: <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="action" name="action" class="form-control" onchange="hiddenFields(this)" required>
                                        <option value="">Choose..</option>
                                    </select>
                                </div>
                            </div>
                            <div class="x_panel">
                                <div class="x_content">
                                    <h4 id="actionTitle"></h4>
                                    <div id="div_action_form">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <ul class="nav navbar-left panel_toolbox">
                <li><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></li>
                </ul>
                <ul class="nav navbar-right panel_toolbox">
                    <button id="send" type="button" class="btn btn-success">Add job</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
function hiddenFields(obj) {
    action=obj.value;
    $('.hidden-field').hide();
    $('.'+action).show();
}
</script>
