<div style="display:none">
  <div class="row template-detail-groups">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel" style="background-color: #F7F7F7;">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_content">
              <div class="x_panel">
                <div id="actions-group-d.id" data-pk="d.id" data-name="d.name" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px;">
                  <button class="btn btn-info btn-xs btn-edit-group-quotas" type="button" data-placement="top"><i class="fa fa-pencil m-right-xs" ></i>Quota</button>
                  <button class="btn btn-info btn-xs btn-edit-limits" type="button" data-placement="top"><i class="fa fa-pencil m-right-xs" ></i>Limits</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
