<!--
   IsardVDI - Open Source KVM Virtual Desktops based on KVM Linux and dockers
   Copyright (C) 2022 Simó Albert i Beltran

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <https://www.gnu.org/licenses/>.

 SPDX-License-Identifier: AGPL-3.0-or-later
-->
{% extends "base.html" %}
{% block content %}
<div class="x_panel">
  <div class="x_title">
    <h3><i class="fa fa-hdd-o"></i> Storage Nodes</h3>
    <ul class="nav navbar-right panel_toolbox">
      <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <table id="storage_nodes" class="table">
      <thead>
        <tr>
          <th>Status</th>
          <th>Status Time</th>
          <th>ID</th>
          <th>Storage Pools</th>
          <th>SSL verify</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block pagescript %}
    <script src="/isard-admin/static/admin/js/storage_nodes.js"></script>
{% endblock %}
